<div class="row">
    <div class="col-12 text-center page-header">
        <h1>{{ vm.pageHeader.title }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="alert alert-info text-center" ng-if="vm.message">{{ vm.message }}</div>

        <div class="list-group">
            <div ng-repeat="content in vm.contentList" class="panel panel-default mb-3">
                <div class="panel-heading review-header">
                    <h4 class="panel-title pull-left" style="color: white;">
                        <span class="label"
                            ng-class="{'label-primary': content.contentType === 'news', 'label-info': content.contentType === 'review'}">
                            {{ content.contentType | uppercase }}
                        </span>
                        {{ content.title }}
                    </h4>

                    <div class="pull-right" ng-if="vm.isAdmin">
                        <a ng-if="content.contentType === 'news'" href="/news/{{ content._id }}/edit"
                            class="btn btn-warning btn-xs">Edit</a>
                        <a ng-if="content.contentType === 'review'" href="/reviews/{{ content._id }}/edit"
                            class="btn btn-warning btn-xs">Edit</a>
                        <button ng-click="vm.deleteContent(content._id, content.contentType)"
                            class="btn btn-danger btn-xs">Delete</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <p class="review-body">{{ content.body | limitTo: 200 }}...</p>
                    <p class="text-muted small">
                        Posted by <strong>{{ content.authorId.name || 'Unknown' }}</strong>
                        on {{ content.createdAt | date:'medium' }}
                    </p>
                    <a ng-if="content.contentType === 'news'" href="/news/{{ content._id }}"
                        class="btn btn-default btn-xs">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>