<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">{{ vm.pageHeader.title }}</h1>
        <div ng-if="vm.error" class="alert alert-danger">{{ vm.error }}</div>
    </div>
</div>

<div class="row" ng-if="vm.data.news">
    <div class="col-xs-12 col-md-8">
        <!-- Display Image if it exists -->
        <div ng-if="vm.data.news.media && vm.data.news.media.length > 0">
            <img ng-src="{{ vm.data.news.media[0].url }}" class="img-responsive img-thumbnail" alt="{{ vm.data.news.title }}">
            <hr>
        </div>

        <p><em>by {{ vm.data.news.authorId.name }} on {{ vm.data.news.createdAt | date:'fullDate' }}</em></p>

        <div ng-if="vm.data.news.body" style="white-space: pre-wrap;">
            <p>{{ vm.data.news.body }}</p>
        </div>

        <div class="well" ng-if="vm.isAdmin">
            <a href="/news/{{ vm.newsId }}/edit" class="btn btn-info" tooltip title="Edit this article"><i class="glyphicon glyphicon-edit"></i> Edit Article</a>
            <button ng-click="vm.deleteNews()" class="btn btn-danger pull-right" tooltip title="Permanently delete"><i class="glyphicon glyphicon-trash"></i> Delete Article</button>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Recent News</h3>
            </div>
            <div class="list-group">
                <p ng-if="!vm.sidebarNews && vm.sidebarMessage" class="list-group-item">{{ vm.sidebarMessage }}</p>
                <a ng-repeat="item in vm.sidebarNews" href="/news/{{ item._id }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ item.title }}</h4>
                    <p class="list-group-item-text">by {{ item.authorId.name }}</p>
                </a>
            </div>
        </div>
    </div>
</div>