<div class="row">
    <div class="col-xs-12">
        <h1 class="page-header">{{ vm.pageHeader.title }}</h1>
        <div ng-if="vm.error" class="alert alert-danger">{{ vm.error }}</div>
    </div>
</div>

<div class="row" ng-if="vm.data.festival">
    <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p><strong>Address:</strong> {{ vm.data.festival.address }}</p>
                <p><strong>Start Date:</strong> {{ vm.data.festival.startDate | date:'fullDate' }}</p>
                <p><strong>End Date:</strong> {{ vm.data.festival.endDate | date:'fullDate' }}</p>
                <p ng-if="vm.data.festival.description"><strong>Description:</strong> {{ vm.data.festival.description }}</p>
                <div ng-if="vm.data.festival.lineup && vm.data.festival.lineup.length > 0">
                    <p><strong>Lineup:</strong></p>
                    <ul>
                        <li ng-repeat="artist in vm.data.festival.lineup">{{ artist }}</li>
                    </ul>
                </div>

                <hr>
                <h4>Festival Location</h4>
                <div style="height: 350px; width: 100%; margin-bottom: 15px;">
                    <leaflet-map location="vm.mapLocation"></leaflet-map>
                </div>
                <button type="button" class="btn btn-primary" ng-click="vm.goToGoogleMaps()" tooltip title="Open Google Maps for directions"><i class="glyphicon glyphicon-map-marker"></i> Get Directions</button>

                <hr ng-if="vm.data.festival.reviews.length > 0">
                <h4 ng-if="vm.data.festival.reviews.length > 0">Reviews</h4>
                <div class="well" ng-repeat="review in vm.data.festival.reviews">
                    <star-rating rating-value="review.rating"></star-rating>
                    <p>{{ review.reviewText }}</p>
                    <small><em>by {{ review.author.name || 'Anonymous' }} on {{ review.createdAt | date:'medium' }}</em></small>
                </div>
            </div>
        </div>
        <div class="well">
            <a href="/review/add/festival/{{ vm.festivalid }}" class="btn btn-success" tooltip title="Share your thoughts"><i class="glyphicon glyphicon-pencil"></i> Write a Review</a>
            <a href="/festivals/{{ vm.festivalid }}/edit" class="btn btn-info" ng-if="vm.isAdmin" tooltip title="Edit this festival"><i class="glyphicon glyphicon-edit"></i> Edit Festival</a>
            <button ng-click="vm.deleteFestival()" class="btn btn-danger pull-right" ng-if="vm.isAdmin" tooltip title="Permanently delete"><i class="glyphicon glyphicon-trash"></i> Delete Festival</button>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Other Festivals</h3>
            </div>
            <div class="list-group">
                <p ng-if="!vm.sidebarFestivals && vm.sidebarMessage" class="list-group-item">{{ vm.sidebarMessage }}</p>
                <a ng-repeat="item in vm.sidebarFestivals" href="/festivals/{{ item._id }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ item.name }}</h4>
                    <p class="list-group-item-text">
                        {{ item.address }}
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>